* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_501 {
  width: 100%;
  height: 1253px;
  background: url("../images/v1_501.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_560 {
  width: 478px;
  height: 496px;
  background: url("../images/v1_560.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4000000059604645;
  position: absolute;
  top: 756px;
  left: 1617px;
  overflow: hidden;
}
.v1_561 {
  width: 478px;
  height: 496px;
  background: rgba(213,174,228,1);
  opacity: 0.800000011920929;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v108_80 {
  width: 214px;
  height: 787px;
  background: url("../images/v108_80.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 846px;
  overflow: hidden;
}
.v1_502 {
  width: 177px;
  height: 685px;
  background: url("../images/v1_502.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
  overflow: hidden;
}
.v108_76 {
  width: 41px;
  height: 683px;
  background: url("../images/v108_76.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 136px;
  overflow: hidden;
}
.v1_504 {
  width: 41px;
  height: 41px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 642px;
  left: 0px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.10000000149011612);
}
.v1_509 {
  width: 16px;
  height: 10px;
  background: rgba(8,8,8,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 12px;
}
.v108_74 {
  width: 41px;
  height: 41px;
  background: url("../images/v108_74.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 640px;
  left: 0px;
  overflow: hidden;
}
.v1_503 {
  width: 41px;
  height: 41px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.10000000149011612);
}
.v1_510 {
  width: 5px;
  height: 12px;
  background: rgba(8,8,8,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 17px;
}
.v108_73 {
  width: 45px;
  height: 45px;
  background: url("../images/v108_73.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 640px;
  left: 66px;
  overflow: hidden;
}
.v1_505 {
  width: 45px;
  height: 45px;
  background: none;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.10000000149011612);
}
.v1_511 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 15px;
  overflow: hidden;
}
.v1_512 {
  width: 16px;
  height: 16px;
  background: url("../images/v1_512.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_513 {
  width: 16px;
  height: 16px;
  background: url("../images/v1_513.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_514 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_515 {
  width: 1px;
  height: 1px;
  background: url("../images/v1_515.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 12px;
  overflow: hidden;
}
.v1_516 {
  width: 1px;
  height: 1px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_517 {
  width: 8px;
  height: 8px;
  background: url("../images/v1_517.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
  overflow: hidden;
}
.v1_518 {
  width: 8px;
  height: 8px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v108_79 {
  width: 214px;
  height: 76px;
  background: url("../images/v108_79.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 711px;
  left: 0px;
  overflow: hidden;
}
.v1_520 {
  width: 173px;
  color: rgba(94,98,130,1);
  position: absolute;
  top: 0px;
  left: 2px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v108_77 {
  width: 107px;
  height: 35px;
  background: url("../images/v108_77.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 0px;
  overflow: hidden;
}
.v1_519 {
  width: 107px;
  height: 35px;
  background: rgba(8,8,8,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  overflow: hidden;
}
.v1_521 {
  width: 20px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 17px;
  overflow: hidden;
}
.v1_522 {
  width: 10px;
  height: 19px;
  background: rgba(33,150,243,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_523 {
  width: 13px;
  height: 10px;
  background: rgba(76,175,80,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
}
.v1_524 {
  width: 7px;
  height: 6px;
  background: rgba(240,187,31,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 11px;
}
.v1_525 {
  width: 13px;
  height: 9px;
  background: rgba(241,90,43,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 1px;
}
.v108_3463 {
  width: 53px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 42px;
}
.v108_78 {
  width: 100px;
  height: 35px;
  background: url("../images/v108_78.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 114px;
  overflow: hidden;
}
.v1_528 {
  width: 100px;
  height: 35px;
  background: rgba(8,8,8,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  overflow: hidden;
}
.v1_529 {
  width: 13px;
  height: 15px;
  background: url("../images/v1_529.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 17px;
  overflow: hidden;
}
.v1_530 {
  width: 13px;
  height: 15px;
  background: url("../images/v1_530.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_531 {
  width: 13px;
  height: 12px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
}
.v1_532 {
  width: 3px;
  height: 3px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 6px;
}
.v108_3464 {
  width: 54px;
  height: 17px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 36px;
}
.v108_81 {
  width: 207px;
  height: 133px;
  background: url("../images/v108_81.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 619px;
  left: 0px;
  overflow: hidden;
}
.v1_535 {
  width: 152px;
  color: rgba(24,30,75,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 44px;
  opacity: 1;
  text-align: left;
}
.v1_536 {
  width: 207px;
  color: rgba(94,98,130,1);
  position: absolute;
  top: 85px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v108_82 {
  width: 474px;
  height: 153px;
  background: url("../images/v108_82.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 640px;
  left: 290px;
  overflow: hidden;
}
.v108_70 {
  width: 108px;
  height: 151px;
  background: url("../images/v108_70.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_537 {
  width: 108px;
  color: rgba(8,8,8,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 21px;
  opacity: 1;
  text-align: left;
}
.v1_540 {
  width: 55px;
  color: rgba(94,98,130,1);
  position: absolute;
  top: 60px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_543 {
  width: 72px;
  color: rgba(94,98,130,1);
  position: absolute;
  top: 94px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_546 {
  width: 61px;
  color: rgba(94,98,130,1);
  position: absolute;
  top: 129px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v108_71 {
  width: 89px;
  height: 151px;
  background: url("../images/v108_71.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 180px;
  overflow: hidden;
}
.v1_538 {
  width: 88px;
  color: rgba(8,8,8,1);
  position: absolute;
  top: 0px;
  left: 1px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 21px;
  opacity: 1;
  text-align: left;
}
.v1_541 {
  width: 86px;
  color: rgba(94,98,130,1);
  position: absolute;
  top: 58px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_544 {
  width: 48px;
  color: rgba(94,98,130,1);
  position: absolute;
  top: 94px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_547 {
  width: 74px;
  color: rgba(94,98,130,1);
  position: absolute;
  top: 129px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v108_72 {
  width: 114px;
  height: 153px;
  background: url("../images/v108_72.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 360px;
  overflow: hidden;
}
.v1_539 {
  width: 55px;
  color: rgba(8,8,8,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 21px;
  opacity: 1;
  text-align: left;
}
.v1_542 {
  width: 95px;
  color: rgba(94,98,130,1);
  position: absolute;
  top: 60px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_545 {
  width: 57px;
  color: rgba(94,98,130,1);
  position: absolute;
  top: 96px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_548 {
  width: 114px;
  color: rgba(94,98,130,1);
  position: absolute;
  top: 131px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_549 {
  width: 203px;
  color: rgba(94,98,130,1);
  position: absolute;
  top: 877px;
  left: 430px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
